<div class="register-container">
    <mat-card>

        <mat-card-content>
            <form [formGroup]='formGroup' >
                <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="name" formControlName='name'>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="surname" formControlName='surname'>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="email" formControlName='email'>
                        <mat-error *ngIf="formGroup.controls.email.errors">{{error}}</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="password" formControlName='password'>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="confirmPassword" formControlName='confirmPassword'>
                        <mat-error *ngIf="formGroup.controls['confirmPassword'].errors?.mismatch==true">password mismatched</mat-error>
                      </mat-form-field>
                </p>
                <div class="button">
                    <button type="button" mat-button (click)='submit()'>Register</button>
                </div>
                <p>
                    <mat-hint>
                        Already registered. Click <span><a routerLink="/login">here</a></span>
                    </mat-hint>
                </p>
            </form>
        </mat-card-content>
    </mat-card>
</div>
